<h1>Listing diagnostics</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @diagnostics.each do |diagnostic| %>
      <tr>
        <td><%= diagnostic.code %></td>
        <td><%= diagnostic.description %></td>
        <td><%= diagnostic.price %></td>
        <td><%= link_to 'Show', diagnostic %></td>
        <td><%= link_to 'Edit', edit_diagnostic_path(diagnostic) %></td>
        <td><%= link_to 'Destroy', diagnostic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Diagnostic', new_diagnostic_path %> |

<%= link_to 'Back', welcome_system_administrator_path %>
<%= link_to 'Home', welcome_index_path %>
