<h1>Listing physicians</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @physicians.each do |physician| %>
      <tr>
        <td><%= physician.name %></td>
        <td><%= physician.active %></td>
        <td><%= link_to 'show appointments',appointments_physician_appointments_path(:id => physician.id) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', welcome_physician_path %>

<%= link_to 'Home', welcome_index_path %>
