<h1>Welcome!</h1>
<p>
  <h1>Please Select your Role</h1>
    <ul>
      <li><%= link_to "Patient",welcome_patient_path%></li>
      <li><%= link_to "Office Worker",welcome_office_worker_path%></li>
      <li><%= link_to "Physician",welcome_physician_path%></li>
      <li><%= link_to "System Administrator",welcome_system_administrator_path%></li>


    </ul>

</p>
