<h1>Hello Office Worker</h1>
<p>
<ul>
  <li><%= link_to "View Patients with pending invoices", patients_patients_with_appointments_with_diagnostic_path%></li>

</ul>

</p>

<%= link_to 'Home', welcome_index_path %>
