<h1>Hello Patient</h1>
<p>
<h1>What would you like to do?</h1>
<ul>
  <li><%= link_to 'Create New Patient',new_patient_path %></li>

  <li><%= link_to 'New Appointment',appointments_new_patient_path %></li>
  <li><%= link_to 'Show  appointments',patients_patients_with_appointments_path %></li>

  <li><%= link_to "Home",welcome_index_path%></li>


</ul>

</p>