<h1> <c> Hello Admin </c></h1>
<p>
<h2>What would you like to do?</h2>
<ul>
  <li><%= link_to "View/Edit Diagnostics ",diagnostics_path%></li>
  <li><%= link_to "View/Edit Physicians",physicians_path%></li>

    <br>
  <br>

  <li><%= link_to "View physicians appoinments with invoiced amount",appointments_physician_appointments_with_invoiced_amount_path%></li>

  <li><%= link_to "Home",welcome_index_path%></li>

</ul>