<%= form_for(@appointment, :url => {:controller=> 'appointments',:action => 'patient_create'}) do |f| %>
    <% if @appointment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

          <ul>
            <% @appointment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="field">
      <%= f.label :start %><br>
      <%= f.label :day %>
      <select name="day">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>

      </select>
      -
      <select name="month">
        <option value="1">Jan</option>
        <option value="2">Feb</option>
        <option value="3">Mar</option>
        <option value="4">Apr</option>
        <option value="5">May</option>
        <option value="6">Jun</option>
        <option value="7">July</option>
        <option value="8">Aug</option>
        <option value="9">Sept</option>
        <option value="10">Oct</option>
        <option value="11">Nov</option>
        <option value="12">Dec</option>

      </select>
      -
      <select name="year">
        <option value="2014">2014</option>
        <option value="2015">2015</option>
        <option value="2016">2016</option>
        <option value="2017">2017</option>
        <option value="2018">2018</option>

      </select>



      <%= f.label :time %>
      <select name="hour">
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">1</option>
        <option value="14">2</option>
        <option value="15">3</option>
        <option value="16">4</option>
      </select>
      :
      <select name="minutes">
        <option value="0">00</option>
        <option value="30">30</option>
      </select>

    </div>


    <div class="field">

      <%= f.label :physician_id %><br>
      <%= f.collection_select :physician_id, Physician.where(:active => true),:id,:name %>

    </div>
    <div class="field">
      <%= f.label :patient_id %><br>
      <%= f.collection_select :patient_id, Patient.all, :id, :name %>

    </div>

    <div class="field">

      <%= f.label :reasons %><br>
      <%= f.text_field :reasons %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>


