<%= form_for(@appointment) do |f| %>
    <% if @appointment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

          <ul>
            <% @appointment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="field">
      <%= f.label :start %><br>

      <%= f.datetime_select :start,{:minute => [0,30]}, :prompt => { :day => 'select day', :include_blank => true, :start_year => 2014}%>
    </div>


    <div class="field">
      <%= f.label :physician_id %><br>
      <%= f.collection_select :physician_id, Physician.all, :id, :name %>
    </div>
    <div class="field">
      <%= f.label :patient_id %><br>
      <%= f.collection_select :patient_id, Patient.all, :id, :name %>
    </div>

    <div class="field">

      <%= f.label :reasons %><br>
      <%= f.text_field :reasons,:readonly =>true %>
    </div>


    <div class="field">

      <%= f.label :notes %><br>
      <%= f.text_field :notes %>
    </div>

    <div class="field">
      <%= f.label :diagnostic_id %><br>
      <%= f.collection_select :diagnostic_id, Diagnostic.all, :id, :description %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<%= link_to 'Back', welcome_physician_path %>


<%= link_to 'Home', welcome_index_path %>
