<h1>Listing appointments</h1>

<table>
  <thead>
    <tr>
      <th>Notes</th>
      <th>Start</th>
      <th>Physician</th>
      <th>Patient</th>
      <th>Diagnostic</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.notes %></td>
        <td><%= appointment.start %></td>
        <td><%= appointment.physician.name %></td>
        <td><%= appointment.patient.name %></td>
        <td><%= appointment.diagnostic_id %></td>
        <td><%= link_to 'Show', appointment %></td>
        <% diff=appointment.start.to_i - DateTime.now.to_i
           puts 'diff '+diff.to_s
           if diff > 60*60*8
        %>
        <td><%= link_to 'Cancel', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment', appointments_new_patient_path %>


<%= link_to 'Back', welcome_patient_path %>

<%= link_to 'Home', welcome_index_path %>
