<h1>Listing appointments</h1>

<table>
  <thead>
    <tr>
      <th>Notes</th>
      <th>Start</th>
      <th>Physician</th>
      <th>Patient</th>
      <th>Diagnostic</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.notes %></td>
        <td><%= appointment.start %></td>
        <td><%= appointment.physician.name %></td>
        <td><%= appointment.patient.name %></td>
        <td><%= appointment.diagnostic_id %></td>
        <td><%= link_to 'Generate invoice', appointments_appointment_invoice_path(:id => appointment.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment', new_appointment_path %>

<%= link_to 'Back', patients_patients_with_appointments_with_diagnostic_path %>


<%= link_to 'Home', welcome_index_path %>
