<h1>Listing appointments</h1>

<table>
  <thead>
    <tr>
      <th>Notes</th>
      <th>Start</th>
      <th>Physician</th>
      <th>Patient</th>
      <th>Diagnostic</th>
      <th>Amount invoiced</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.notes %></td>
        <td><%= appointment.start %></td>
        <td><%= appointment.physician.name %></td>
        <td><%= appointment.patient.name %></td>
        <td><%= appointment.diagnostic.description %></td>
        <td><%= appointment.diagnostic.price %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment', appointments_new_patient_path %>


<%= link_to 'Back', welcome_system_administrator_path %>


<%= link_to 'Home', welcome_index_path %>
