<p id="notice"><%= notice %></p>

<p>
  <strong>Notes:</strong>
  <%= @appointment.notes %>
</p>

<p>
  <strong>Start:</strong>
  <%= @appointment.start %>
</p>

<p>
  <strong>Physician:</strong>
  <%= @appointment.physician_id %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient_id%>
</p>

<p>
  <strong>Diagnostic:</strong>
  <%= @appointment.diagnostic_id %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>




<%= link_to 'Home', welcome_index_path %>
