<h1>Invoice for <%=appointment.patient.name%></h1>

Physician: <%=appointment.physician.name%><br>
<br>
Date: <%=appointment.start%>
<br><br>
Diagnostic:<%=appointment.diagnostic.description%>
<br><br>
Amount: $<%=appointment.diagnostic.price%>


